.header {
  padding-top: 40px;
  background: rgba(0, 0, 0, .5) url("../images/header.jpg") center no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
    display: block;
    font-size: 16px;

  }

  &__menu {
    display: flex;
    justify-content: flex-end;

  }

  &__desc {
    text-align: center;
  }

  &__title {
    font: 300 35px/2 $font-title;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  &__subtitle {
    font: 16px/1.75 $font;
    margin: 0 15% 200px 20%;
  }

  &__scroll {
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

.scroll__link {
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  background: $green;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;

}





