.portfolio {
  background-color: #f3f3f3;
}

.sizer {
  width: 22.5%;

}

.blocks {
  margin-bottom: 100px;

  &__img {
    width: 22.5%;
    margin-bottom: 10px;

  }
}

.filters {
    display: flex;
    justify-content: center;
    margin: 15px;

    &__link {
    margin:  0 15px 60px 15px;
      position: relative;
      cursor: pointer;

      &--active {
        
        &::before{
          content: '';
          height: 2px;
          background: $green;
          position: absolute;
          bottom: -15px;
          width: 80%;
          left: 10%;
        }
      }
    }



}









